.container {
    background-color: #1f1f2e;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: left;
}

h2 {
    color: #00ffff;
    margin-bottom: 1em;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5em;
}

.label {
    margin-bottom: 0.5em;
    display: block;
    color: #00ffff;
}

.input, .select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #00ffff;
    border-radius: 5px;
    background-color: #282c34;
    color: #ffffff;
}

.button {
    background-color: #00ffff;
    color: #121217;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background-color: #00cccc;
    transform: scale(1.05);
}

.message {
    margin-top: 1em;
    text-align: center;
}

.message.success {
    color: #00ff00;
}

.message.error {
    color: #ff0000;
}